generate:
  - types
  - client
accessModifier: package
namingStrategy: idiomatic
filter:
  operations:
    - apps/create-installation-access-token
    - issues/create
    - issues/get
    - projects/create-card
    - projects/delete-card
    - projects/list-cards
    - projects/move-card
    # Need to manually mark auto_merge.commit_title and .commit_message as nullable.
    # Also pull_request.assignee, .body, .closed_at, .merge_commit_sha, .merged_at, .milestone, .additions, .changed_files, .comments, .commits, .deletions, .mergeable, .mergeable_state, .merged, .maintainer_can_modify, .merged_by, .review_comments.
    - pulls/get
    - pulls/list-files
    - pulls/list-reviews
    - pulls/update
    # Need to manually mark all schemas.repository date fields as accepting both string and number.
    # For example "pushed_at", "created_at", "updated_at".
    # Look at other "pushed_at" fields in other schemas.
    - repos/compare-commits
    - repos/create-release
    - repos/get-latest-release
    - repos/list-commits
    - repos/list-contributors
    - repos/list-pull-requests-associated-with-commit
    - repos/list-releases
    - repos/list-tags
    - users/get-by-username
  schemas:
    - installation-token
    # Need to manually mark label.description as nullable
    - label
    # Need to manually mark simple-commit.committer.email as nullable
    - simple-commit
    # Need to manually mark simple-installation.node_id as nullable
    - simple-installation
