.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
BOT/.swiftpm/*
BOT/.build/*
API/.swiftpm/*
API/.build/*
*.xcscheme
BOT/.swiftpm/xcode/xcshareddata/xcschemes/BOT.xcscheme
