.DS_Store
/.build
/.index-build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/*
.build/*
*.xcscheme
.vscode/launch.json
.devcontainer
Sources/DBMigration/Data
.vscode/
