.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
CODE/.swiftpm/*
CODE/.build/*
*.xcscheme
CODE/.swiftpm/xcode/xcshareddata/xcschemes/BOT.xcscheme
CODE/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.vscode/launch.json
.devcontainer
CODE/Sources/DBMigration/Data
.vscode/
