name: tests
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  # pull_request: { types: [opened, reopened, synchronize, ready_for_review] }
  push: { branches: [main] }

jobs:
  unit-tests:
    uses: mahdibm/ci/.github/workflows/run-unit-tests.yml@mmbm-caching
    with:
      with_release_mode_testing: true
      with_experimental_caching: true
      with_coverage: false
      with_tsan: false
      with_api_check: false
      with_deps_submission: true
      with_linting: true

  cloudformation-lint:
    name: Check CloudFormation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup and run CloudFormation lint
        uses: ScottBrenner/cfn-lint-action@v2
        with:
          command: cfn-lint -t ./deploy/penny-discord-bot-stack.yml
